<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <link href="./css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/info_checkout.css">
</head>

<body>
    <header>
        <div class="header-container fixed">
            <div class="header-main">
                <div class="container">
                    <div class="toggle">
                        <i class="fa-solid fa-bars menu"></i>
                        <div id="logo-toggle">
                            <a href="#">
                                <img src="./img/logo.png" title="DLATT Fashion" class="img-product"
                                    style="width: 200px;">
                            </a>
                        </div>
                        <div class="btn-toggle">
                            <div id="search-toggle">
                                <span class="search_button">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </div>
                            <div class="myaccount-toggle">
                                <a href="/account" title="My Account">
                                    <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="header-shoppingcart-toggle">
                                <a href="/cart" title="Cart"></a>
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav-toggle">
                        <li class="top_level dropdown">
                            <a href="/men">Nam</a>
                        </li>
                        <li class="top_level dropdown">
                            <a href="/women">Nữ</a>
                        </li>
                        <li class="top_level">
                            <a href="/hotitem">Bán chạy</a>
                        </li>
                        <li class="top_level">
                            <a href="/sale">Giảm giá</a>
                        </li>
                        <li class="top_level dropdown">
                            <a href="/more">Xem thêm</a>
                        </li>
                    </ul>
                    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
                    <script>
                        $(document).ready(function () {
                            $('.menu').click(function () {
                                $('.navbar-nav-toggle').toggleClass('active')
                            })
                        }
                        )
                    </script>
                    <div class="row">
                        <div class="header-logo">
                            <div id="logo">
                                <a href="/">
                                    <img src="./img/logo.png" title="DLATT Fashion" class="img-product"
                                        style="width: 200px;">
                                </a>
                            </div>
                        </div>
                        <nav class="nav-container">
                            <div id="menu" class="main-menu" style="display: block;">
                                <ul class="nav navbar-nav">
                                    <li class="top_level dropdown">
                                        <a href="/men">Nam</a>
                                        <div class="dropdown-menu megamenu column3">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/menShirts">Áo</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dr  opdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/menSweater">Áo Sweater Nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menTankTop">Áo ba lỗ Nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menTShirt">Áo thun nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menJacket">Áo khoác nam</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/menTrousers">Quần</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/menKaki">Quần kaki nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menShorts">Quần đùi nam </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menJean">Quần jean nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menUnderwear">Quần lót nam</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="top_level dropdown">
                                        <a href="/women">Nữ</a>
                                        <div class="dropdown-menu megamenu column3">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/womenShirts">Áo</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/womenShirt">Áo thun nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenTShirt">Áo sơ mi nữ </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenDress">Đầm nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenJacket">Áo khoác nữ</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/womenTrousers">Quần</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/womenPants">Quần dài nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenShorts">Quần đùi nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenJeans">Quần jean nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenAuthPants">Quần tây nữ</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="top_level">
                                        <a href="/hotitem">Bán chạy</a>
                                    </li>
                                    <li class="top_level">
                                        <a href="/sale">Giảm giá</a>
                                    </li>
                                    <li class="top_level dropdown">
                                        <a href="/more">Xem thêm</a>
                                        <div class="dropdown-menu megamenu column1" style="height: 120px">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li>
                                                        <a href="/shoes">Giày</a>
                                                    </li>
                                                    <li>
                                                        <a href="/glasses">Kính</a>
                                                    </li>
                                                    <li>
                                                        <a href="/socks">Tất</a>
                                                    </li>
                                                    <li>
                                                        <a href="handbag">Mũ</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div id="search" class="input-group">
                            <span class="search_button" id="search_button"><i
                                    class="fa-solid fa-magnifying-glass"></i></span>
                            <div class="search_toggle" id="search_toggle">
                                <div id="searchbox">
                                    <input type="text" name="search" value="" placeholder="Search Products Here"
                                        class="form-control input-lg" id="search-input">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-lg" id="search-btn">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </span>
                                </div>
                                <ul id="search-results" class="search-results"></ul>
                            </div>
                        </div>
                        <script>
                            document.getElementById('search_button').addEventListener('click', () => {
                                const searchToggle = document.getElementById('search_toggle');
                                searchToggle.classList.toggle('active');
                              });
                              
                              const searchInput = document.getElementById('search-input');
                              const searchResults = document.getElementById('search-results');
                              
                              searchInput.addEventListener('input', function () {
                                searchResults.innerHTML = '';
                              
                                var items = [];
                                '<% allProducts.forEach(function(item) { %>'
                                  items.push({ name: '<%= item.productName %>', productID: '<%= item.productID %>' });
                                '<% }); %>'
                              
                                const searchTerm = searchInput.value.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
                                var filteredItems = items.filter(item => item.name.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase().includes(searchTerm));
                                filteredItems = filteredItems.slice(0, 5);
                              
                                filteredItems.forEach(item => {
                                  const li = document.createElement('li');
                                  const productID = item.productID;

                                  const img = document.createElement('img');
                                  img.src = `./img/${productID}0.png`;
                              
                                  li.appendChild(img);
                                  li.innerHTML += ` ${item.name}`;
                              
                                  li.addEventListener('click', () => {
                                    window.location.href = `/product?productID=${productID}`;
                                  });
                              
                                  searchResults.appendChild(li);
                                });
                              
                                if (searchTerm === '') {
                                  searchResults.innerHTML = '';
                                }
                              });                              
                        </script>
                        <% if (login.length> 0) { %>
                            <div class="dropdown myaccount" style="width: 200px">
                                <a href="/account" title="My Account" style="width: 100%">
                                    <i class="fa-solid fa-user"></i>
                                    <span class="userName">
                                        <%=login[0].fullName%>
                                    </span>
                                    <% } else { %>
                                        <div class="dropdown myaccount">
                                            <a href="/account" title="My Account" style="width: 100%">
                                                <i class="fa-solid fa-user"></i>
                                                <% } %>
                                                    <ul class="dropdown-menu dropdown-menu-right myaccount-menu">
                                                        <% if (login.length==0) { %>
                                                            <li>
                                                                <a href="/register">Đăng kí</a>
                                                            </li>
                                                            <li>
                                                                <a href="/login">Đăng nhập</a>
                                                            </li>
                                                            <% } else { %>
                                                                <li>
                                                                    <a href="/logout">Đăng xuất</a>
                                                                </li>
                                                                <% } %>
                                                                    <li>
                                                                        <a href="/cart" title="Shopping Cart">Giỏ
                                                                            hàng</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/infocheckout" title="Checkout">Thanh
                                                                            toán</a>
                                                                    </li>
                                                                    <% if (login.length> 0 && login[0].role ===
                                                                        'Employee') { %>
                                                                        <li>
                                                                            <a href="/upload" title="Checkout">Thêm sản
                                                                                phẩm</a>
                                                                        </li>
                                                                        <% } %>
                                                    </ul>
                                        </div>
                                        <% if (login.length> 0) { %>
                                            <div class="header-shoppingcart">
                                                <div id="cart" class="btn-group btn-block">
                                                    <a href="/cart" title="Cart">
                                                        <i class="fa-solid fa-cart-shopping"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <% } %>
                            </div>
                    </div>
                </div>
            </div>
    </header>

    <div class="block" style="margin-top: 200px; width: 80%;">
        <div class="block-title">
            <strong>THÔNG TIN THANH TOÁN</strong>
        </div>
        <form id="checkoutForm" action="/postOrder" method="post">
            <label for="name">Họ và tên</label>
            <input type="text" id="name" name="name" required>

            <label for="phoneNumber">Số điện thoại</label>
            <input type="tel" id="phoneNum" name="phoneNumber"  placeholder="xxxx-xxx-xxx" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}" required>

            <label for="address">Địa chỉ</label>
            <input type="text" id="address" name="address" required>

            <label for="city">Tỉnh/Thành phố</label>
            <select id="city" name="city" required>
                <option value="">Chọn tỉnh/thành phố</option>
                <option value="HCM">Hồ Chí Minh</option>
                <option value="HN">Hà Nội</option>
                <option value="DN">Đà Nẵng</option>
            </select>

            <label for="district">Quận/Huyện</label>
            <select id="district" name="district" required>
                <option value="">Chọn quận/huyện</option>
            </select>

            <label for="ward">Phường/Xã</label>
            <select id="ward" name="ward" required>
                <option value="">Chọn phường/xã</option>
            </select>

            <label for="agree"><input type="checkbox" id="agree_saving_inf" name="agreeSavingInf" required> Lưu thông tin địa chỉ cho lần đặt hàng sau</label>
            
            <label for="agree"><input type="checkbox" id="agree_terms" name="agreeTerms" required> Tôi đồng ý với các điều khoản và điều kiện</label>
            <%if(login.length > 0){%>
                <input type="hidden" name="userID" value='<%= login[0].userID %>'>
            <%}else{%>
                <input type="hidden" name="userID" value="null">
            <%}%>
            <!-- Truong hop mua ngay -->
            <input type="hidden" name="productID" value="<%=orderData.productID%>">
            <input type="hidden" name="colorID" value="<%=orderData.colorID%>">
            <!-- <input type="hidden" name="sizeID" value="<%=orderData.sizeID%>"> -->
            <input type="hidden" name="priceProduct" value="<%=orderData.priceProduct%>">
            <input type="hidden" name="quantity" value="<%=orderData.quantity%>">

            <button type="submit" onclick="checkout(this)">Thanh toán</button>
        </form>
    </div>

    <script>
        var data = {
            "HCM": {
                "Quận 1": ["Phường Bến Nghé", "Phường Bến Thành", "Phường Cầu Kho", "Phường Cầu Ông Lãnh", "Phường Cô Giang", "Phường Đa Kao", "Phường Nguyễn Cư Trinh", "Phường Nguyễn Thái Bình", "Phường Phạm Ngũ Lão", "Phường Tân Định"],
                "Quận 2": ["Phường An Khánh", "Phường An Lợi Đông", "Phường An Phú", "Phường Bình An", "Phường Bình Khánh", "Phường Bình Trưng Đông", "Phường Bình Trưng Tây", "Phường Cát Lái", "Phường Thạnh Mỹ Lợi", "Phường Thảo Điền", "Phường Thủ Thiêm"],
                "Quận 3": ["Phường 1", "Phường 2", "Phường 3", "Phường 4", "Phường 5", "Phường 6", "Phường 7", "Phường 8", "Phường 9", "Phường 10", "Phường 11", "Phường 12", "Phường 13", "Phường 14"],
                "Quận 4": ["Phường 1", "Phường 2", "Phường 3", "Phường 4", "Phường 5", "Phường 6", "Phường 8", "Phường 9", "Phường 10", "Phường 12", "Phường 13", "Phường 14", "Phường 15", "Phường 16", "Phường 18"],
                "Quận 5": ["Phường 1", "Phường 2", "Phường 3", "Phường 4", "Phường 5", "Phường 6", "Phường 7", "Phường 8", "Phường 9", "Phường 10", "Phường 11", "Phường 12", "Phường 13", "Phường 14", "Phường 15"]
            },
            "HN": {
                "Quận Ba Đình": ["Phường Cống Vị", "Phường Điện Biên", "Phường Đội Cấn", "Phường Giảng Võ", "Phường Kim Mã", "Phường Liễu Giai", "Phường Ngọc Hà", "Phường Ngọc Khánh", "Phường Nguyễn Trung Trực", "Phường Phúc Xá", "Phường Quán Thánh", "Phường Thành Công", "Phường Trúc Bạch", "Phường Vĩnh Phúc"],
                "Quận Cầu Giấy": ["Phường Dịch Vọng", "Phường Dịch Vọng Hậu", "Phường Mai Dịch", "Phường Nghĩa Đô", "Phường Nghĩa Tân", "Phường Quan Hoa", "Phường Trung Hòa", "Phường Yên Hòa"],
                "Quận Đống Đa": ["Phường Cát Linh", "Phường Hàng Bột", "Phường Khâm Thiên", "Phường Khương Thượng", "Phường Kim Liên", "Phường Láng Hạ", "Phường Láng Thượng", "Phường Nam Đồng", "Phường Ngã Tư Sở", "Phường Ô Chợ Dừa", "Phường Phương Liên", "Phường Phương Mai", "Phường Quang Trung", "Phường Quốc Tử Giám", "Phường Thịnh Quang", "Phường Thổ Quan", "Phường Trung Liệt", "Phường Trung Phụng", "Phường Trung Tự", "Phường Văn Chương", "Phường Văn Miếu"],
                "Quận Hai Bà Trưng": ["Phường Bạch Đằng", "Phường Bách Khoa", "Phường Bùi Thị Xuân", "Phường Cầu Dền", "Phường Đống Mác", "Phường Đồng Nhân", "Phường Đồng Tâm", "Phường Lê Đại Hành", "Phường Minh Khai", "Phường Ngô Thì Nhậm", "Phường Nguyễn Du", "Phường Phạm Đình Hổ", "Phường Phố Huế", "Phường Quỳnh Lôi", "Phường Quỳnh Mai", "Phường Thanh Lương", "Phường Thanh Nhàn", "Phường Trương Định", "Phường Vĩnh Tuy"],
                "Quận Hoàn Kiếm": ["Phường Chương Dương Độ", "Phường Cửa Đông", "Phường Cửa Nam", "Phường Đồng Xuân", "Phường Hàng Bạc", "Phường Hàng Bài", "Phường Hàng Bồ", "Phường Hàng Bông", "Phường Hàng Buồm", "Phường Hàng Đào", "Phường Hàng Gai", "Phường Hàng Mã", "Phường Hàng Trống", "Phường Lý Thái Tổ", "Phường Phan Chu Trinh", "Phường Phúc Tân", "Phường Tràng Tiền", "Phường Trần Hưng Đạo"]
            },
            "DN": {
                "Quận Cẩm Lệ": ["Phường Hòa An", "Phường Hòa Phát", "Phường Hòa Thọ Đông", "Phường Hòa Thọ Tây", "Phường Hòa Xuân", "Phường Khuê Trung"],
                "Quận Hải Châu": ["Phường Bình Hiên", "Phường Bình Thuận", "Phường Hải Châu I", "Phường Hải Châu II", "Phường Hòa Cường Bắc", "Phường Hòa Cường Nam", "Phường Hòa Cường Đông", "Phường Hòa Cường Tây", "Phường Hòa Thuận Đông", "Phường Hòa Thuận Tây", "Phường Hòa Minh"]
            }
        };

        function populateDropdown(selectElement, options) {
            selectElement.innerHTML = "<option value=''>Chọn</option>";
            options.forEach(function (option) {
                var optionElement = document.createElement("option");
                optionElement.value = option;
                optionElement.text = option;
                selectElement.add(optionElement);
            });
        }

        function populateDistricts() {
            var citySelect = document.getElementById("city");
            var districtSelect = document.getElementById("district");
            var city = citySelect.value;
            if (city in data) {
                populateDropdown(districtSelect, Object.keys(data[city]));
                populateWards();
            }
        }

        function populateWards() {
            var citySelect = document.getElementById("city");
            var districtSelect = document.getElementById("district");
            var wardSelect = document.getElementById("ward");
            var city = citySelect.value;
            var district = districtSelect.value;
            if (city in data && district in data[city]) {
                populateDropdown(wardSelect, data[city][district]);
            }
        }

        // Event listeners for city and district dropdowns
        document.getElementById("city").addEventListener("change", populateDistricts);
        document.getElementById("district").addEventListener("change", populateWards);

        function checkout(){
            document.getElementById('checkoutForm').submit();
        }
    </script>
</body>

</html>