<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DLATT Fashion</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="./css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/homepage.css">
    <link rel="stylesheet" type="text/css" href="./css/list_product.css">
    <script src="./js/homepage.js"></script>
</head>


<body>
    <!--Phần thanh header-->
    <header>
        <div class="header-container fixed">
            <div class="header-main">
                <div class="container">
                    <div class="toggle">
                        <i class="fa-solid fa-bars menu"></i>
                        <div id="logo-toggle">
                            <a href="/">
                                <img src="./img/logo.png" title="DLATT Fashion" class="img-product"
                                    style="width: 200px;">
                            </a>
                        </div>
                        <div class="btn-toggle">
                            <div id="search-toggle">
                                <span class="search_button">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </div>
                            <div class="myaccount-toggle">
                                <a href="/account" title="My Account">  
                                    <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="header-shoppingcart-toggle">
                                <a href="/cart" title="Cart"></a>
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav-toggle">
                        <li class="top_level dropdown">
                            <a href="/men">Nam</a>
                        </li>
                        <li class="top_level dropdown">
                            <a href="/women">Nữ</a>
                        </li>
                        <li class="top_level">
                            <a href="/hotitem">Bán chạy</a>
                        </li>
                        <li class="top_level">
                            <a href="/sale">Giảm giá</a>
                        </li>
                        <li class="top_level dropdown">
                            <a href="/more">Xem thêm</a>
                        </li>
                    </ul>
                    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
                    <script>
                        $(document).ready(function() 
                            {
                                $('.menu').click(function() {
                                    $('.navbar-nav-toggle').toggleClass('active')
                                })
                            }
                        )
                    </script>
                    <div class="row">
                        <div class="header-logo">
                            <div id="logo">
                                <a href="/">
                                    <img src="./img/logo.png" title="DLATT Fashion" class="img-product"
                                        style="width: 200px;">
                                </a>
                            </div>
                        </div>
                        <nav class="nav-container">
                            <div id="menu" class="main-menu" style="display: block;">
                                <ul class="nav navbar-nav">
                                    <li class="top_level dropdown">
                                        <a href="/men">Nam</a>
                                        <div class="dropdown-menu megamenu column3">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/menshirts">Áo</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/menAoThun">Áo thun nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menAoSoMi">Áo sơ mi nam </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menAoJean">Áo jean nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menAoKhoac">Áo khoác nam</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/mentrousers">Quần</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/menQuanThun">Quần thun nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menQuanDui">Quần đùi nam </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menQuanJean">Quần jean nam</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/menQuanTay">Quần tây nam</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="top_level dropdown">
                                        <a href="/women">Nữ</a>
                                        <div class="dropdown-menu megamenu column3">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/womenshirts">Áo</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/womenAoThun">Áo thun nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenAoSoMi">Áo sơ mi nữ </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenAoJean">Áo jean nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenAoKhoac">Áo khoác nữ</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled childs_1">
                                                    <li class="dropdown">
                                                        <a href="/womentrousers">Quần</a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-inner">
                                                                <ul class="list-unstyled childs_2">
                                                                    <li>
                                                                        <a href="/womenQuanThun">Quần thun nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenQuanDui">Quần đùi nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenQuanJean">Quần jean nữ</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/womenQuanTay">Quần tây nữ</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="top_level">
                                        <a href="/hotitem">Bán chạy</a>
                                    </li>
                                    <li class="top_level">
                                        <a href="/sale">Giảm giá</a>
                                    </li>
                                    <li class="top_level dropdown">
                                        <a href="/more">Xem thêm</a>
                                        <div class="dropdown-menu megamenu column1">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled childs_1">
                                                    <li>
                                                        <a href="/shoes">Giày</a>
                                                    </li>
                                                    <li>
                                                        <a href="/jackets">Áo khoác</a>
                                                    </li>
                                                    <li>
                                                        <a href="/glasses">Kính</a>
                                                    </li>
                                                    <li>
                                                        <a href="/socks">Tất</a>
                                                    </li>
                                                    <li>
                                                        <a href="hats">Mũ</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div id="search" class="input-group">
                            <span class="search_button"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <div class="search_toggle">
                                <div id="searchbox">
                                    <input type="text" name="search" value="" placeholder="Search Products Here"
                                        class="form-control input-lg">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-lg">
                                            Search
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown myaccount">
                            <a href="/account" title="My Account">
                                <i class="fa-solid fa-user"></i>
                                <ul class="dropdown-menu dropdown-menu-right myaccount-menu">
                                    <li>
                                        <a href="/register">Đăng kí</a>
                                    </li>
                                    <li>
                                        <a href="/login">Đăng nhập</a>
                                    </li>
                                    <li>
                                        <a href="/cart" title="Shopping Cart">Giỏ hàng</a>
                                    </li>
                                    <li>
                                        <a href="/checkout" title="Checkout">Thanh toán</a>
                                    </li>
                                </ul>
                        </div>
                        <div class="header-shoppingcart">
                            <div id="cart" class="btn-group btn-block">
                                <a href="/cart" title="Cart">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!--Block-->
    <div class="block">
        <div class="block-title">
            <strong id="title-type">Áo thun nam</strong>
        </div>
        <script>
            title_type = document.getElementById('title-type');
            if (window.location.href.includes('/menshirts')) {
                title_type.innerHTML = 'Áo nam';
            }
            else if (window.location.href.includes('/menAoThun')) {
                title_type.innerHTML = 'Áo thun nam';
            }
            else if (window.location.href.includes('/menAoSoMi')) {
                title_type.innerHTML = 'Áo sơ mi nam';
            }
            else if (window.location.href.includes('/menAoJean')) {
                title_type.innerHTML = 'Áo jean nam';
            }
            else if (window.location.href.includes('/menAoKhoac')) {
                title_type.innerHTML = 'Áo khoác nam';
            }
            else if (window.location.href.includes('/mentrousers')) {
                title_type.innerHTML = 'Quần nam';
            }
            else if (window.location.href.includes('/menQuanThun')) {
                title_type.innerHTML = 'Quần thun nam';
            }
            else if (window.location.href.includes('/menQuanDui')) {
                title_type.innerHTML = 'Quần đùi nam';
            }
            else if (window.location.href.includes('/menQuanJean')) {
                title_type.innerHTML = 'Quần jean nam';
            }
            else if (window.location.href.includes('/menQuanTay')) {
                title_type.innerHTML = 'Quần tây nam';
            }
            else if (window.location.href.includes('/men')) {
                title_type.innerHTML = 'Thời trang nam';
            }
            else if (window.location.href.includes('/womenshirts')) {
                title_type.innerHTML = 'Áo nữ';
            }
            else if (window.location.href.includes('/womenAoThun')) {
                title_type.innerHTML = 'Áo thun nữ';
            }
            else if (window.location.href.includes('/womenAoSoMi')) {
                title_type.innerHTML = 'Áo sơ mi nữ';
            }
            else if (window.location.href.includes('/womenAoJean')) {
                title_type.innerHTML = 'Áo jean nữ';
            }
            else if (window.location.href.includes('/womenAoKhoac')) {
                title_type.innerHTML = 'Áo khoác nữ';
            }
            else if (window.location.href.includes('/womentrousers')) {
                title_type.innerHTML = 'Quần nữ';
            }
            else if (window.location.href.includes('/womenQuanThun')) {
                title_type.innerHTML = 'Quần thun nữ';
            }
            else if (window.location.href.includes('/womenQuanDui')) {
                title_type.innerHTML = 'Quần đùi nữ';
            }
            else if (window.location.href.includes('/womenQuanJean')) {
                title_type.innerHTML = 'Quần jean nữ';
            }
            else if (window.location.href.includes('/womenQuanTay')) {
                title_type.innerHTML = 'Quần tây nữ';
            }
            else if (window.location.href.includes('/women')) {
                title_type.innerHTML = 'Thời trang nữ';
            }

        </script>
        <div class="block_content">
            <!--Product Sale-->
            <ul class="products">
                <% for (let i=0; i<dataProduct.length;i++) { %>
                <li class="product_item">
                    <a style="width: 300px; height: 400px;" href="/product?productID=<%=dataProduct[i].productID%>">
                        <img class="product_img" src="./img/<%=dataProduct[i].productID %>0.png" alt="Ảnh sản phẩm <%=dataProduct[i].productName%>" width="100%" height="100%">
                    </a>
                    <a href="/product?productID=<%=dataProduct[i].productID%>" class="title_product"><%= dataProduct[i].productName %></a>
                    <div class="price">
                        <span class="price_discount"><%=dataProduct[i].price%></span>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <!--Footer-->
    <footer class="footer">
        <div class="footer_row">
            <div class="footer_infomation">
                <div class="logo">
                    <a href="/">
                        <img src="./img/logo.png" alt="DLATT">
                    </a>
                </div>
                <h3>CÔNG TY TNHH DLATT VIETNAM</h3>
            </div>
            <div class="group">
                <h3>IE104.012 - Nhóm 8</h3>
                <div class="members">
                    <div class="card">
                        <div class="img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                                alt="">
                        </div>
                        <div class="glass">
                            <span>Hoàng Hải Anh</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                                alt="">
                        </div>
                        <div class="glass">
                            <span>Nguyễn Chí Thi</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                                alt="">
                        </div>
                        <div class="glass">
                            <span>Trương Khánh Long</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                                alt="">
                        </div>
                        <div class="glass">
                            <span>Bùi Lê Trọng Đức</span>
        
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTymz8hEzCiURnEoQYnLTiehMAGb4xIeKWRDQ&usqp=CAU"
                                alt="">
                        </div>
                        <div class="glass">
                            <span>Nguyễn Tiến Thịnh</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>